.Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding: 20px;
  background-color: #fff;
}
.SquareGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 100vmin;
  height: 100vmin;
}
